<h1>タスク詳細ページ</h1>

<table class="table table-bordered">
  <tr>
    <th>ステータス</th>
    <td>
<%= @task.status %>
    </td>
  </tr>
  <tr>
    <th>内容</th>
    <td>
<%= @task.content %>
    </td>
  </tr>
</table>


<%= link_to "このタスクを編集する", edit_task_path(@task), class: "btn btn-warning" %>

<%= link_to "このタスクを削除する", @task, method: :delete, data: { confirm: "本当に削除してよろしいですか？" }, class: "btn btn-danger" %>
